.widget a {
  color: color-link;
  text-decoration: none;
}
.widget a:hover {
  text-decoration: underline;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
  list-style: disc;
}
.widget {
  line-height: line-height;
  word-wrap: break-word;
  font-size: 0.9em;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
  list-style: disc;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-right: 5px;
  display: inline-block;
}
.greydark1 {
  color: #757575;
}
.greydark2 {
  color: #616161;
}
.greydark1-link {
  color: #757575;
}
.greydark1-link:hover {
  text-decoration: underline;
}
.greydark2-link {
  color: #616161;
}
.greydark2-link:hover {
  text-decoration: underline;
}
.padding5 {
  padding: 5px;
}
.padding10 {
  padding: 10px;
}
.padding10-left {
  padding-left: 10px;
}
.tag {
  color: #757575;
  background: #fff;
  padding: 5px;
  border: 1px #ddd solid;
}
.taglist {
  float: left;
  padding: 7px;
  margin-left: 6px;
  margin-top: 6px;
  background-color: #fff;
  border: 1px solid transparent;
}
.taglist:hover {
  border: 1px solid #009688;
}
/*asas*/
@media (max-width: 978px) {
  .container-fluid .rowhd .colhd {
    padding: 0;
    margin: 0;
  }
  body {
    padding: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}
h5 {
  font-family: 'Lora', serif;
}
