#page-nav {
  text-align: center;
  overflow: hidden;
}
#page-nav a {
  display: inline-block;
  padding: 0.5em 1em;
  border: 0.1em transparent solid;
}
#page-nav a {
  color: #2ca6cb;
  background: #fff;
}
#page-nav a:hover {
  background: #eee;
  color: #2ca6cb;
  border: 0.1em #009688 solid;
}
#page-nav .prev {
  float: left;
  transition: border-left 0.5s;
}
#page-nav .prev span:before {
  font-family: "FontAwesome";
  content: "\f053";
  padding-right: 0.5em;
}
#page-nav .next {
  float: right;
}
#page-nav .next span:before {
  font-family: "FontAwesome";
  content: "\f054";
  padding-left: 0.5em;
}
#page-nav .page-number {
  margin-left: 0.3em;
  margin-right: 0.3em;
  padding: 0.5em 1em;
}
@media only screen and (min-width: 768px) {
  #page-nav .page-number {
    display: inline-block;
  }
}
#page-nav .current {
  color: #b8b8b8;
  font-weight: bold;
  border: 0.1em transparent solid;
}
#page-nav .space {
  color: #2ca6cb;
}
/* archive layout */
.current {
  color: #fff !important;
  background: #009688;
}
